*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

ol,ul,li {
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
    -webkit-backface-visibility: hidden
}

.fn-hide-scrollbar::-webkit-scrollbar {
    display: none
}

.fn-hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    background-color: #ecf0fe;
}

.container{
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background: url(../images/pc/bg.png) no-repeat center center;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    align-content:center;
}
.bet{
   display: flex;
   align-items: center; 
   justify-content: flex-start;
}
.bet img{
    width: 799px;
}
.league{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.league .desc{
    width: 611px;
    height: 121px;
    font-size: 22px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #6C7BA8;
    line-height: 33px;
    color: #3F3F3F;
    margin-top: 39px;
    text-indent: 40px;
}
.league .desc1{
    font-size: 24px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #2D7FF2;
    margin: 39px 0 10px 0;
}
.league ul li{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.league ul li .label{
    font-size: 20px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #3F3F3F;
    width: 101px;
    text-align: center;
}
.league ul li .tele{
    width: 270px;
    height: 36px;
    background: url(../images/pc/tele.png) no-repeat center center;
    margin-left: 10px;
}

ul li .tele a{
    height: 100%;
    display: block;
    color: #FFFFFF;
    font-family: PingFang SC;
    font-weight: 500;
    font-size: 23px;
    padding-left: 80px;
  }
.league ul li:last-child{
    margin-top: 44px;
    text-align: center;
}
.league ul li:last-child .label{
    color: #2D7FF2;
}
ul li:last-child .tele a{
    padding-left: 0;
} 
@media screen and (max-width:  1366px) {
    .bet img{
        width: 639px;
    }
    .league{
       transform: scale(0.8);
    }
}