html,body{
    margin: 0;
    padding: 0;
}
body{
    background: #000;
}
a[title="站长统计"] {
    display: none !important;
}
.box_contanier{
    max-width: 1920px;
    min-width: 1200px;
    background: url("../img/backimg.png") top center no-repeat;
    margin: 0 auto;
    padding-top: 30px;
}
.box_contanier .service{
    position: fixed;
    top: 35%;
    left: 60%;
    transform: translate(100%,-50%);
    cursor: pointer;
}
.logo{
    width: 294px;
    height: 69px;
    margin: 0 auto;
}
.textContent{
    width: 472px;
    height: 389px;
    margin: 22px auto;
    background: url('../img/textbg.png')center center no-repeat;
}
.textContent p{
    text-align: center;
    padding-top: 30px;
}
.textContent div{
    color: #AFA58C;
    font-size: 18px;
    padding: 0 24px;
    line-height: 36px;
    
}
.textContent div span{
    color: #FCB96A;
    font-weight: bold;
}
.textContent div .regin{
    color: #FF3232;
    font-size: 20px;
}
.regForm{
    width: 457px;
    height: 400px;
    margin: 35px auto;
    padding-top: 12px;
    background: url('../img/formbg.png')center center no-repeat;
}
.regForm >div {
    width: 365px;
    height: 56px;
    margin: 23px auto;
    position: relative;
    background: url('../img/inpbg.png') center center no-repeat;
}
.regForm p{
    text-align: center;
}
.regForm div input{
    width: 100%;
    height: 100%;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    padding-left: 57px;
    font-size: 20px;
}
.regForm div input::-webkit-input-placeholder {
    font-size: 20px;
}
.regForm div i{
    position: absolute;
    top: 12px;
    left: 20px;
}
.regForm div:last-child{
    height: 64px;
    cursor: pointer;
    background: url('../img/btnbg.png') center center no-repeat;
}
.text-context{
    background: none!important;
    border: 2px solid #f3e4b0;
    height: 50px!important;
    border-radius: 10px;
    margin-left: 46px!important;
    position: relative;
    
}
.text-context i{
    left: 16px!important;
}
.smsInputBox{
    display: flex;
    width: 250px!important;    
    background: none!important;
    border: 2px solid #f3e4b0;
    height: 50px!important;
    border-radius: 10px;
    margin-left: 46px!important;
}
.smsInputBox p{
    margin: 0!important;
}
.smsInputBox p a:first-child{
    width: 100px;
    height: 50px;
    display: inline-block;
    background: #f8e081;
    line-height: 50px;
    border-radius: 10px;
    cursor: pointer;
}
.smsInputBox p a:last-child{
    width: 100px;
    height: 50px;
    display: inline-block;
    background: #f8e081;
    line-height: 50px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}
.yzm_reg{
    position: relative;
    left: 210px;
    top: -46px;
    cursor: pointer;
}
.yam{
    color: #fff;
    position: relative;
    left: 316px;
    top: -70px;
    cursor: pointer;
}
#time{
    color: yellow;
}
.tipsLog{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index:10001;
    display: none;
}
.tipsLog .message{
    width: 240px;
    height: 70px;
    background: rgba(0,0,0,.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    overflow: hidden;
}

.tipsLog .message div{
    background: rgb(77 77 77 / 29%);
    text-align: center;
    line-height: 70px;
    color: #ffff;
    font-size: 20px;
}