@charset "utf-8";
body{background:#111; font: 12px 'Microsoft YaHei',arial,sans-serif;}
.qc{ clear:both;}
.box720{ width:100%; max-width:720px; margin:0 auto;}
.pmg2{-webkit-animation:fadeFromBottom 1.5s ease .2s both;}
.pmg4{-webkit-animation:fadeFromBottom 1.5s ease 1.2s both;}
.pmg5{-webkit-animation:fadeFromBottom 1.5s ease 1.5s both;}
.pmg6{-webkit-animation:fadeFromBottom 1.5s ease 2.5s both;}

.pmg{-webkit-animation:zoomIn 1.5s ease 1.9s both;}
.default-top{ background:#000 url(../img/logo_254_58.png) center no-repeat; background-size:200px 40px; height:44px; }
.default-top .left{ float:left; height:44px; width:44px;}
.default-banner{ position:relative;}
.default-banner img{display: block;width: 100%;}
.swiper-pagination{ position:absolute; bottom:0; left:0; z-index:100; text-align:center; width:100%;}
.swiper-pagination-bullet{ width:10px; height:10px; background:#fff; margin:0 2px;}

.default-notice{ height:44px; line-height:44px; background:#000;overflow: hidden; padding:0 0 0 10px; border-bottom:#534e2c 1px solid;}
.default-notice .inner-title{height:44px; line-height:44px; font-size:14px; color: #ffec7e; padding-left:20px; display: inline-block;background: url("../img/gong_44.png") no-repeat left center;background-size:16px 16px; display: -webkit-box;}
.default-notice span{}
.default-notice p{ display:block; height:44px; line-height:44px; overflow:hidden;font-size: 14px;color: #fff; font-weight: normal; margin:0 10px; position:relative; -webkit-box-flex:1; box-flex:1; }
.default-notice .inner-right{float: right;position: relative;height:44px; width: 23rem; }
.default-notice .inner-right ul{position: absolute;top: 0;right: 0;transition: all 0.4s;}
.default-notice .inner-right ul li{line-height:44px; font-size: 14px;color: #fff;}


.str_move { 
	white-space:nowrap;
	position:absolute; 
	top:0; 
	left:0;
	cursor:move;
	color: #fff; line-height:44px; font-size:14px;
}

.login-wrap{}
.login-wrap .one{ padding:15px 7px; border-bottom:#ffec7e 1px solid;}
.login-wrap .one a{ width:50%; float:left; -webkit-box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; padding:0 7px;}
.login-wrap .one img{ width:100%;}
.login-wrap .two{ padding:10px 5px; border-bottom:#ffec7e 1px solid; width:100%; -webkit-box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.login-wrap .two ul{display: -webkit-box;}
.login-wrap .two li{ width:25%; text-align:center; color:#ffec7e; font-size:14px;}
.login-wrap .two li a{display:block; width:100%;}
.login-wrap .two li .tu{ height:32px; background:url(../img/xb_88_img01.png) center no-repeat; background-size:26px 26px; margin-bottom:5px;}
.login-wrap .two li:nth-child(2) .tu{background:url(../img/xb_88_img02.png) center no-repeat; background-size:24px 24px;}
.login-wrap .two li:nth-child(3) .tu{background:url(../img/xb_88_img03.png) center no-repeat; background-size:24px 24px;}
.login-wrap .two li:nth-child(4) .tu{background:url(../img/xb_88_img04_1.png) center no-repeat; background-size:33px 25px;}
.site-list{}
.site-list .inner{ padding:10px 0 65px 0;}
.site-list .inner .item{ padding:10px 15px;}
.site-list .inner .item .line{display: -webkit-box; height:28px;}
.site-list .inner .item .line .n01{ width:60px; height:28px; line-height:28px; text-align:center; color:#ffec7e; font-size:12px; border:#ffec7e 1px solid;}
.site-list .inner .item .line .n02{ width:30px; height:30px; background:url(../img/xb_55.png) center no-repeat; background-size:20px 20px;}
.site-list .inner .item .line .n03{ height:28px; line-height:28px; padding-left:10px; color:#ffec7e;text-align: center; -webkit-box-flex:1; box-flex:1; margin-right:8px; font-size:12px;  border:#ffec7e 1px solid;}
.site-list .inner .item .line .n04{ height:30px; width:70px; font-size:12px; background:url(../img/xb_136_56.jpg) no-repeat; background-size:100% 100%; color:#000; line-height:30px; text-align:center;}
.site-list .inner .item .line .n04 a{ display:block; width:100%; height:30px; color:#000;}
.footer{ position: fixed; bottom: 0;left: 0; width: 100%; height:56px;}
.footer ul{background: #000;  width:100%; max-width:720px; margin:0 auto; height:50px; padding-top:5px; border-top:#ffec7e 1px solid; display: -webkit-box;}
.footer li{ width:25%; font-size:12px; text-align:center;}
.footer li a{ display:block; width:100%;}
.footer li p{ height:30px; background:url(../img/xb_88_img05.png) center no-repeat; background-size:24px 24px;}
.footer li:nth-child(2) p{background:url(../img/xb_88_img06.png) center no-repeat; background-size:24px 24px;}
.footer li:nth-child(3) p{background:url(../img/xb_88_img07.png) center no-repeat; background-size:24px 24px;}
.footer li:nth-child(4) p{background:url(../img/xb_88_img08.png) center no-repeat; background-size:24px 24px;}
/*--------------�������ϻ���1-------------------*/
@-webkit-keyframes fadeFromBottom{
	0%{-webkit-transform:translate3d(0,100px,0);opacity: 0;}
	100%{-webkit-transform:translate3d(0,0,0);opacity: 1;}
}

/*--------------��С������------------------*/
@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.1, .1, .1);
		transform: scale3d(.1, .1, .1);
	}

	100% {

		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		opacity: 1;

	}
}