* {
    padding: 0;
    margin: 0;
    list-style: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

@media screen and (min-width:320px) {
    html {
        font-size: 21.33px;
    }

    body {
        font-size: 12px;
    }
}

.wrap {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.img-row>img {
    display: block;
    width: 100%;
}

.pr {
    position: relative;
}

.download {
    position: absolute;
    display: block;
    width: 100px;
    height: 35px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    line-height: 35px;
    font-size: 17px;
    color: #A882F5;
    right: 24px;
    top: 50%;
    margin-top: -17px;
}

.slide-hd {
    text-align: center;
    height: 50px;
    /* line-height: 50px; */
    border-bottom: 2px solid #E5E5E5;
}

.slide-hd ul {
    width: 100%;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    -webkit-align-items: stretch;
    -webkit-justify-content: space-between;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: space-between;
}

.slide-hd li {
    flex: 1;
    text-align: center;
}

.slide-hd a {
    cursor: pointer;
    display: inline-block;
    line-height: 40px;
    font-size: 17px;
    height: 45px;
    color: #5C5C5C;
    font-weight: bold;
    position: relative;
}

.slide-hd a.on {
    color: #ff7800;
}

.slide-hd a.on:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 75%;
    height: 5px;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#FE67B0), to(#A982F5));
    background-image: -webkit-linear-gradient(left, #ffa400, #ff7800);
    background-image: -moz-linear-gradient(left, #FE67B0, #A982F5);
    background-image: -o-linear-gradient(left, #FE67B0, #A982F5);
    background-image: linear-gradient(left, #FE67B0, #A982F5);
    border-radius: 8px;
}

.g-list {
    height: auto;
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 20px;
}

.g-list li {
    float: left;
    width: 19.9999%;
}

.g-list a {
    display: block;
    text-align: center;
}

.g-list p {
    font-size: 0.28rem;
    color: #333;
    line-height: 34px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.g-list img {
    display: block;
    width: 1.24rem;
    height: 1.24rem;
    border-radius: .24rem;
    margin: 0 auto;
}

.g-slide a,
.g-slide img {
    display: block;
    width: 100%;
}

.down {
    background: url(./down.png) no-repeat;
    width: 69px;
    background-size: contain;
    height: 35px;
    display: block;
    margin: 0px auto 8px;
    text-indent: -9999px;
}

.down-list {
    padding: 15px 0;
}

.down-list li {
    width: 100%;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    -webkit-align-items: stretch;
    -webkit-justify-content: space-between;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.down-list dt,
.down-list dd {
    padding: 14px 0;
}

.down-list dt {
    padding-left: 14px;
}

.down-list h3,
.down-list p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.down-list dd+dd {
    font-size: 12px;
    padding-right: 14px;
}

.down-list .flex1 {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    width: -webkit-calc(100vw - 186px);
}

.down-list h3 {
    font-size: 17px;
    font-weight: bold;
}

.down-list p {
    font-size: 11px;
    color: #454545;
}

.down-list dt {
    width: 50px;
}

.down-list dt img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.go {
    background: url(../img/go.png) no-repeat;
    width: 87px;
    height: 35px;
    display: block;
    margin: 0px auto 8px;
    text-indent: -9999px;
    background-size: contain;
}

.lx {
    background: url(../img/lx.png) no-repeat;
    width: 75px;
    height: 35px;
    display: block;
    margin: 0px auto 8px;
    text-indent: -9999px;
    background-size: contain;
}

.s_p {
    position: absolute;
    top: -0.4rem;
    font-size: 14px;
    text-align: center;
    width: 100%;
    color: #999;
}

.heagit {
    height: 163px;
}

.bottommob {
    -webkit-box-sizing: border-box;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 0 10px;
    overflow: hidden;
    width: 100%;
    opacity: 0.85;
    background: linear-gradient(90deg, rgb(253 46 89), rgb(255 107 17));
}

.bottom-pic {
    position: absolute;
    top: 12px;
    margin-left: 5px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.bottom-text {
    margin-left: 97px;
    line-height: 60px;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.bottom-wenan {
    margin-left: 97px;
    line-height: 25px;
    font-size: 16px;
    color: #fff;
}

.bottom-btn {
    position: absolute;
    top: 12px;
    width: 120px;
    right: 20px;
    height: 45px;
    line-height: 45px;
    color: #ff2e4f;
    background: linear-gradient(90deg, #f6f6f6, #f6f6f6);
    border-radius: 55px;
    text-align: center;
    font-size: 20px;
    padding: 0 5px;
    font-weight: bold;
}

.bottommob a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.pc {
    width: 20%;
    position: absolute;
    right: 10%;
    margin-top: 5%;
}

@media screen and (max-width:767px) {
    .pc {
        display: none;
    }

    .slide-hd {
        /* margin-top: -0.4rem; */
    }
}

/* @media screen and (min-width:768px) {
    .pc {
        display: show;
    }
} */