* {
	margin: 0;
	padding: 0;
}
a {
	font-size: 12px;
	color: #fff;
	text-decoration: none
}
body {
	font: 14px/1.6 "Microsoft Yahei";
	color: #fff;
	background: #000;
}
#container {
	overflow: hidden;
}
.w1000 {
	width: 1000px;
	margin: 0 auto
}
ul li {
	list-style: none
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.clearfix {
*+height:1%;
}
* html .clearfix {
	zoom: 1;
} /* IE6 */
*+html .clearfix {
	zoom: 1;
} /* IE7 */
.fL {
	float: left !important;
}
.fR {
	float: right !important;
}
img {
	vertical-align: top;
}
/*---------------index--------------*/
#header {
	margin: 0 auto;
	padding: 14px 0 13px;
	width: 1000px;
	position: relative;
}
#header h1 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}
#header .imgText {
	margin: 0 0 0 340px;
	float: left;
}
#header .link {
	float: right;
}

/*------公告-----------------------*/
.newSection {
	height: 40px;
	z-index: 9;
	position: relative;
	background-color: #171717;
}
.newSection .newsBox {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	padding-left: 210px;
}
.newSection dt {
	padding-left: 26px;
	color: #fbc53e;
	line-height: 40px;
	font-size: 12px;
	font-weight: bold;
	float: left;
	background: url(../images/new_img.png) no-repeat center left;
}
.newSection dd {
	height: 40px;
	padding: 0 0 0 90px;
	color:#fff;
}
.newSection dd li {
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	font-size: 12px;
	color:#fff;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#main {
	padding: 27px 0 0;
	background: url(../images/bg01.jpg) no-repeat center top;
}
#main .wrap {
	width: 1000px;
	margin: 0 auto;
}
#main .section {
	position: relative;
	margin-bottom:18px;
	padding: 7px 13px 4px;
	border: 1px solid #383838;
	background-color: #171717;
}
#main .section.mb50 {
	margin-bottom: 48px;
}
#main .icon01 {
	position: absolute;
	top: -27px;
	left: -28px;
}
#main .icon02 {
	position: absolute;
	top: -27px;
	right: -28px;
}
#main .icon03 {
	position: absolute;
	bottom: -27px;
	left: -29px;
}
#main .icon04 {
	position: absolute;
	bottom: -27px;
	right: -29px;
}
#main .section h2 {
	font-size: 17px;
	margin: 0 5px 10px 0;
}
#main .section h2 .lText {
	float: left;
	color: #ffd053;
}
#main .section h2 .lText i {
	font-style: normal;
	font-size: 12px;
	color:#ffffff;
	font-weight:normal;
	margin-left: 10px;
}
#main .section h2 .rText {
	float: right;
	font-weight:normal;
	color: #797979;
	font-size: 13px;
}
#main .section02 h2 {
	margin-bottom: 15px;
}
#main .section02 h2 .rText {
	color:#ffd053;
}
#main .section .photoBox {
	width: 216px;
	height: 212px;
	float: left;
	margin-right: 13px;
}
#main .section .photoBox a {
	display: block;
	position: relative;
}
#main .section .photoBox a .hov {
	display: none;
	width: 216px;
	height: 212px;
	position: absolute;
	top: 0;
	left:0;
	text-indent: -9999px;
	background: url(../images/hov_bg.png) no-repeat left top;
}
#main .section .photoBox a:hover .hov {
	display: block;
}

#main .section .loadUl {
	width: 444px;
	float: left;
}
#main .section .loadUl li {
	float: left;
	width: 200px;
	height: 64px;
	margin: 0 12px 10px 0;
}
#main .section .loadUl li a {
	display: block;
	height: 64px;
	line-height: 48px;
	padding: 10px 0 0;
	box-sizing: border-box;
	background-color: #202020;
	border: 1px solid #343434;
	text-align: center;
	font-size: 14px;
	letter-spacing: 2px;
}
#main .section .loadUl li span {
	display: block;
	color: #717171;
	font-size: 12px;
	letter-spacing: 0;
}
#main .section .loadUl li i {
	font-style: normal;
	color: #fbc53e;
}
#main .section .loadUl li a:hover {
	color: #121212;
	background: url(../images/hov_img.png) no-repeat center top;
	background-size: 100% 100%;
}
#main .section .loadUl li a:hover i,
#main .section .loadUl li a:hover span {
	color: #121212;
}
#main .section .linkBox {
	width: 297px;
	height: 212px;
	float: right;
	padding: 0 10px;
	border: 1px solid #383534;
	background-color: #202020;
	box-sizing: border-box;
}
#main .section .linkBox li {
	width: 127px;
	padding:20px 0 20px 10px;
	float: left;
	border-bottom: 1px solid #383534;	
}
#main .section .linkBox li img {
	float: left;
	margin-right: 10px;
}
#main .section .linkBox li p {
	line-height:1.2;
	font-size: 14px;
}
#main .section .linkBox li span {
	display: block;
	font-size: 12px;
	line-height:1.0;
	color: #747474;
}
#main .section .linkBox li.last {
	border-bottom: none;
}
#main .section .linkBox li a:hover span,
#main .section .linkBox li a:hover {
	color: #ffd053;
}
#main .section02 {
	padding: 12px 15px 10px;
}
#main .section .linkUl {
	width: 984px;
	margin: 0 -14px 4px 0;
}
#main .section .linkUl li {
	margin: 0 14px 0 0;
	width: 150px;
	float: left;
}
#main .section .linkUl li a {
	padding: 0 0 5px;
	display: block;
	color: #fff;
	font-size: 13px;
	text-align: center;
	background-color: #202020;
	border: 1px solid #343434;
}
#main .section .linkUl li a:hover {
	color: #ffd053;
	border: 1px solid #ffd053;
}
#main .section .linkUl li a img {
	margin: 0 auto;
	display: block;
}
#main .section03 {
	padding: 0;
}
#main .tabUl {
	margin-bottom: 18px;
}
#main .tabUl li {
	width: 499px;
	float: left;
	text-align: center;
}
#main .tabUl li a {
	display: block;
	font-size: 17px;
	color: #ffd053;
	line-height: 55px;
	font-weight: bold;
	background-color: #0F0F0F;
	border-bottom: 1px solid #353535;
}
#main .tabUl li:last-child a {
	border-left: 1px solid #353535;
}
#main .tabUl li a:hover,
#main .tabUl li.on a {
	background-color: #181818;
	border-bottom: none;
}
#main .tabBox {
	margin: 0 0 0 15px;
}
#main .tabBox .linkUl li {
	margin-bottom: 15px;
}

#footer {
	padding: 15px 0;
	background-color: #0b0b0b;
	border-top: 1px solid #181818;
}
#footer p {
	color: #636363;
	font-size: 12px;
	text-align: center;
}
