html {
  font-size: 13.3333333vw;
  /* 1rem = 80px */
}
body{
  scroll-behavior: smooth;
  font-family:Arial,Helvetica,sans-serif;
  font-size: 0.28rem;
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
/* ------ content */
.content {
  width: 100%;
  height:13.34rem;
  background-color: #fff;
  background: url(../../images/bg.png) no-repeat;
  background-size: cover;
}
.step {
  display: flex;
  display: -moz-box; /*firefox*/
  display: -ms-flexbox; /*IE10*/
  display: -webkit-box; /*Safari*/
  display: -webkit-flex; /*Chrome*/
  flex-flow: column;
  align-items: center;
  -webkit-align-items:center;
  box-align:center;
  -moz-box-align:center;
  -webkit-box-align:center;
}
.step-title {
  margin: 1.18rem auto 0;
}
.logo{
  width: 4.83rem;
  height: 1.82rem;
}
.desc{
  width: 6.17rem;
  height: 1.15rem;
  font-size: 0.22rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #3F3F3F;
  line-height: 0.31rem;
  margin-top: 0.61rem;
  margin-bottom: 0.46rem;
}
.desc1{
  font-size: 0.24rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #2D7FF2;
  line-height: 0.38rem;
  margin-bottom: 0.15rem;
}
 ul li{
  display: flex;
  align-items: center;
  margin-top: 0.13rem;
}
 ul li .label{
  width: 1.01rem;
  height: 0.36rem;
  font-size: 0.2rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #3F3F3F;
  text-align: center;
  line-height: 0.36rem;
}
 ul li .tele{
  width: 2.7rem;
  height: 0.36rem;
  background: url(../../images/tele.png) no-repeat center center;
  margin-left: 0.13rem;
  text-align: center;
}
ul li .tele a{
  width: 100%;
  height: 100%;
  display: block;
  color: #FFFFFF;
  font-family: PingFang SC;
  font-weight: 500;
  font-size: 0.24rem;
}
ul li:last-child{
  margin-top: 0.3rem;
}
ul li:last-child .label{
  color: #2D7FF2;
} 
