* {
	margin: 0;
	padding: 0;
}
a {
	color: #fff;
	text-decoration: none
}
body {
	font: 14px/1.6 "Microsoft Yahei";
	color: #FFF;
	background: #130508 url("../img/bg.png") no-repeat center top;
}
.w1000 {
	width: 1000px;
	margin: 0 auto;
}
ul li {
	list-style: none
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.clearfix {
*+height:1%;
}
* html .clearfix {
	zoom: 1;
} /* IE6 */
*+html .clearfix {
	zoom: 1;
} /* IE7 */
.fL {
	float: left !important;
}
.fR {
	float: right !important;
}
/*---------------index--------------*/
#header	{
	margin-bottom: 32px;
	padding: 24px 0 16px;
	box-sizing: border-box;
	background: url("../img/h_bg.jpg") no-repeat center top;
}
#header .hSec {
	margin-bottom: 13px;
	padding-bottom: 7px;
}
#header .hInner {
	margin: 0 auto;
	width: 1000px;
}
#header .hInner h1 {
	float: left;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
}
#header .hInner h1 span {
	color: #ffe900;
}
#header .hInner ul {
	float: right;
}
#header .hInner li {
	margin-left: 8px;
	float: left;
	color: #734D3C;
	font-size: 14px;
}
#header .hInner li a {
	margin-right: 8px;
	color: #ffd477;
	font-size: 13px;
}
#header .hInner li:last-child a {
	margin-right: 0;
}
#header .hInner li a:hover {
	color: #fefe95;
}
#header .hBox {
	width: 1000px;
	margin: 0 auto;
}
#header .logo {
	margin: -14px 90px 0 2px;
	float: left;
}
#header .logo img {
	display: block;
}
#header .hIm01 {
	margin: -8px 0 0;
	float: left;
	position: relative;
	color: #ffff96;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
}
#header .hIm01 img {
	display: block;
}
#header .hIm02 {
	float: right;
	margin-top: 13px;
}
#main {
	padding: 22px 13px 35px 20px;
	width: 1000px;
	margin: 0 auto 43px;
	position: relative;
	box-sizing: border-box;
	border: 2px solid #3e0a0c;
	background: rgba(20,2,20,0.80);
}
#main #conts {
	width: 579px;
	float: left;
	position: relative;
	padding-top: 55px;
}
#main #conts:before {
	width: 1px;
	height: 427px;
	position: absolute;
	right: -31px;
	top: 49px;
	box-sizing: border-box;
	border-right: 1px dotted #7A5344;
	content: "";
}
#main #conts h2 {
	position: absolute;
	top: -22px;
	left: 50%;
	transform: translateX(-50%);
}
#conts .linkUl {
	margin-bottom: 13px;
}
#conts .linkUl li {
	margin-bottom: 11px;
	overflow: hidden;
	zoom: 1;
}
#conts .linkUl li span {
	margin: 1px 10px 0 0;
	padding: 0 15px;
	line-height: 34px;
	float: left;
	width: 294px;
	color: #fff;
	font-size: 16px;
	box-sizing: border-box;
	background-color: #1D100B;
	border: 1px solid #4c0303;
}
#conts .linkUl li .txt {
	width: 102px;
	text-align: center;
}
#conts .linkUl li img {
	margin: 11px 9px 0 2px;
	display: block;
	float: left;
}
#conts .linkUl li a {
	width: 123px;
	display: block;
	float: right;
	color: #ffffff;
	font-size: 16px;
	line-height: 38px;
	text-align: center;
	box-sizing: border-box;
	background: url("../img/bg02.png") no-repeat;
}
#conts .linkUl li a:hover {
	color: #ffff96;
}

#main #conts .refresh  {
	margin: 0 auto;
	width: 103px;
	color: #fff;
	font-size: 17px;
	line-height: 35px;
	text-align: center;
	display: block;
	border: 1px solid #83573E;
	background: rgba(67,47,33,0.5);
	cursor: pointer;
}
#main #conts .refresh a:hover {
	color: #ffd053;
	border: 1px solid #ffd053;
}
#main #conts .line {
	margin: 17px -4px 30px 0;
	border-bottom: 1px dotted #7A5344;
}
#main #conts .btn {
	text-align: center;
}
#main #sideBar {
	width: 340px;
	float: right;
	padding-top: 55px;
	position: relative;
}
#main #sideBar h2 {
	position: absolute;
	top: -22px;
	left: 50%;
	transform: translateX(-50%);
}
#main #sideBar .inner {
	margin: 0 9px 0 2px;
	position: relative;
	z-index: 1;
}
#main #sideBar .inner .imgBox {
	float: left;
}
#main #sideBar .inner .rBox {
	width: 158px;
	float: right;
	text-align: center;
}
#main #sideBar .inner .rBox .ma {
	width:139px;
	height: 139px;
	margin:0 auto;
	background-color: #fff;
	padding:8px 0 0 7px;
	box-sizing: border-box;
	
}
#main #sideBar .inner .rBox .text {
	font-size: 16px;
	font-family: PingFang SC;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 16px;
	margin-top:11px;
}
#main #sideBar .inner .rBox  a {
	margin: 0 auto;
	width: 142px;
	display: block;
	color: #1b1b1b;
	font-size: 16px;
	line-height: 41px;
	text-align: center;
}
#main #sideBar .inner .rBox .ios {
	margin-top:30px;
}
#main #sideBar .img {
	position: relative;
}
#main #sideBar .img img {
	position: absolute;
	top: -48px;
	left: 11px;
}
#footer {
	padding: 23px 0 26px;
	text-align: center;
	clear: both;
	background-color: #330202;
	border-top: 1px solid #330202;
}
#footer .fBox {
	width: 1001px;
	margin: 0 auto;
}
#footer .fBox .fImg {
	margin-top:33px;
}
#footer p {
	color: #a2a2a2;
	font-size: 13px;
	line-height: 2.2;
}

.popBox {
	display: none;
	width: 662px;
	height: 241px;
	background-color: #141414;
	border: 1px solid #ECC250;
	box-sizing: border-box;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
}
.popBox p {
	margin-top: 100px;
}
.layui-layer-ico {
	background: url("../img/close.png") no-repeat center top !important;
	width: 43px !important;
	height: 43px !important;
}
.layui-layer-setwin .layui-layer-close2 {
	top: -15px !important;
	right:-15px !important;
}
